@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
.todo{
  background-color: lightgray;
  border: none;
}
.weather{
  background-color: transparent;
  border: none;
  
}
.middle{
  min-height: 60vh;
  
}

ul{
  list-style: none;
  font-family: 'Dancing Script', cursive;
}
li{
  font-size: 1.5rem;
}

#name{
  border-bottom: 1px solid;
}
input:focus, textarea:focus, select:focus{
  outline: none !important;
}
.transparent{
  background-color: transparent;
}
#clock{
  font-size: 6rem;
}
.absolute{
  position: fixed;
  bottom:0;
  right:0;
}
.author{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
}

.content:hover +.author{
  visibility: visible;
  opacity: 1;
  
}
.icon {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
  cursor: pointer;
  &:hover {
    color:red;
  }
}

.todo:hover .icon{
  visibility: visible;
  opacity: 1;
}

.txt-shadow{
  text-shadow: 1px 1px  black;
}



